In [181]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests

print('Libraries imported.')

Libraries imported.

In [182]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = urlopen(url).read().decode('utf-8')
soup = BeautifulSoup(page, 'html.parser')

postal_codes_canada = soup.body.table.tbody
# assignmentone_table
print('parsing done!')

parsing done!

In [183]:
table = []

In [184]:
postal_codes_canada.find_all('tr')[100].find_all('td')

[<td>M5K</td>,
 <td><a href="/wiki/Downtown_Toronto" title="Downtown Toronto">Downtown Toronto</a></td>,
 <td><a class="mw-redirect" href="/wiki/Toronto_Dominion_Centre" title="Toronto Dominion Centre">Toronto Dominion Centre</a>
 </td>]

The next cell fetched the `td` tag and finds that text in all 3 of its attributes

In [185]:
for x in postal_codes_canada.find_all('tr'):
    box = x.find_all('td')
    row = []
    for line in box:
        if line.a:
            row.append(line.a.text)
            continue
            
        row.append(line.text)
        
    
    table.append(row)
# table.append(row)

In [186]:
table = table[1:]

In [187]:
table[:5]

[['M1A', 'Not assigned', 'Not assigned\n'],
 ['M2A', 'Not assigned', 'Not assigned\n'],
 ['M3A', 'North York', 'Parkwoods'],
 ['M4A', 'North York', 'Victoria Village'],
 ['M5A', 'Downtown Toronto', 'Harbourfront']]

Convert the data in `list` to `dataframe`

In [188]:
import pandas as pd

In [189]:
attributes = ['Postcode', 'Borough', 'Neighbourhood']
df = pd.DataFrame(table, columns=attributes)
df

,Postcode,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned\n
1,M2A,Not assigned,Not assigned\n
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Harbourfront
5,M6A,North York,Lawrence Heights
6,M6A,North York,Lawrence Manor
7,M7A,Downtown Toronto,Queen's Park
8,M8A,Not assigned,Not assigned\n
9,M9A,Etobicoke,Islington Avenue
10,M1B,Scarborough,Rouge
11,M1B,Scarborough,Malvern
12,M2B,Not assigned,Not assigned\n
13,M3B,North York,Don Mills North\n
14,M4B,East York,Woodbine Gardens
15,M4B,East York,Parkview Hill
16,M5B,Downtown Toronto,Ryerson\n
17,M5B,Downtown Toronto,Garden District\n
18,M6B,North York,Glencairn\n
19,M7B,Not assigned,Not assigned\n
20,M8B,Not assigned,Not assigned\n
21,M9B,Etobicoke,Cloverdale\n
22,M9B,Etobicoke,Islington
23,M9B,Etobicoke,Martin Grove\n
24,M9B,Etobicoke,Princess Gardens
25,M9B,Etobicoke,West Deane Park
26,M1C,Scarborough,Highland Creek
27,M1C,Scarborough,Rouge Hill
28,M1C,Scarborough,Port Union
29,M2C,Not assigned,Not assigned\n
...,...,...,...
257,M9X,Not assigned,Not assigned\n
258,M1Y,Not assigned,Not assigned\n
259,M2Y,Not assigned,Not assigned\n
260,M3Y,Not assigned,Not assigned\n
261,M4Y,Downtown Toronto,Church and Wellesley
262,M5Y,Not assigned,Not assigned\n
263,M6Y,Not assigned,Not assigned\n
264,M7Y,East Toronto,Business Reply Mail Processing Centre 969 East...
265,M8Y,Etobicoke,Humber Bay
266,M8Y,Etobicoke,King's Mill Park\n
267,M8Y,Etobicoke,Kingsway Park South East\n
268,M8Y,Etobicoke,Mimico NE
269,M8Y,Etobicoke,Old Mill South
270,M8Y,Etobicoke,The Queensway East
271,M8Y,Etobicoke,Royal York South East
272,M8Y,Etobicoke,Sunnylea
273,M9Y,Not assigned,Not assigned\n
274,M1Z,Not assigned,Not assigned\n
275,M2Z,Not assigned,Not assigned\n
276,M3Z,Not assigned,Not assigned\n
277,M4Z,Not assigned,Not assigned\n
278,M5Z,Not assigned,Not assigned\n
279,M6Z,Not assigned,Not assigned\n
280,M7Z,Not assigned,Not assigned\n
281,M8Z,Etobicoke,Kingsway Park South West\n
282,M8Z,Etobicoke,Mimico NW
283,M8Z,Etobicoke,The Queensway West
284,M8Z,Etobicoke,Royal York South West\n
285,M8Z,Etobicoke,South of Bloor\n
286,M9Z,Not assigned,Not assigned\n

In [190]:
df1 = df[df.Borough != 'Not assigned']
df1 = df1.sort_values(by=['Postcode','Borough'])
df1.head()

   Postcode      Borough   Neighbourhood
10      M1B  Scarborough           Rouge
11      M1B  Scarborough         Malvern
26      M1C  Scarborough  Highland Creek
27      M1C  Scarborough      Rouge Hill
28      M1C  Scarborough      Port Union

Removing the old index and adding a new index column by `resetting` the index and then `removing` the old index column that is formed as a column in dataframe

In [191]:
df1.reset_index(inplace=True)

In [192]:
# df1.drop('index',axis=1,inplace=True)
df1.head()

  Postcode      Borough   Neighbourhood
0      M1B  Scarborough           Rouge
1      M1B  Scarborough         Malvern
2      M1C  Scarborough  Highland Creek
3      M1C  Scarborough      Rouge Hill
4      M1C  Scarborough      Port Union

isolating the `Postcode` to get the unique values from it.

In [201]:
df_postcode = df1['Postcode']
df_postcode.head()
df_postcode.drop_duplicates(inplace=True)

In [218]:
df_new = df_postcode.to_frame()
df_new['Borough'], df_new['Neighbourhood'] = "", ""
df_new.head()

  Postcode Borough Neighbourhood
0      M1B
2      M1C
5      M1E
8      M1G
9      M1H

In [223]:
# df_new.reset_index(inplace=True)
# df_new.drop('index', axis=1, inplace=True)
df_new.shape

(103, 3)

In [224]:
df1.reset_index(inplace=True)
df1.drop('index', axis=1, inplace=True)
df1.head()

  Postcode      Borough   Neighbourhood
0      M1B  Scarborough           Rouge
1      M1B  Scarborough         Malvern
2      M1C  Scarborough  Highland Creek
3      M1C  Scarborough      Rouge Hill
4      M1C  Scarborough      Port Union

In [212]:
# df_new.iloc[0,1] = df1.iloc[0,1]
# df_new.iloc[0,1]

'Scarborough'

In [225]:
for i in df_new.index:
    for j in df1.index:
        if df_new.iloc[i, 0] == df1.iloc[j, 0]:
            df_new.iloc[i, 1] = df1.iloc[j, 1]
            df_new.iloc[i, 2] = df_new.iloc[i, 2] + ',' + df1.iloc[j, 2]
            
for i in df_new.index:
    s = df_new.iloc[i, 2]
    if s[0] == ',':
        s =s [1:]
    df_new.iloc[i,2 ] = s

In [226]:
df_new.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough     Guildwood\n,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                           Cedarbrae\n

In [173]:
df_new.shape

(103, 3)

# part one completed